html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-top: 4vh;
  background: linear-gradient( #6a3093 , #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Avenir, Futura, sans-serif;
}

#tit {
    margin-top: 4vh;
    margin-bottom: 0.2em;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

#subtit {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    font-size: 1.5em;
}

#screenshot {
  position: relative;
  width: 30em;
  border-radius: 2px;
}

.row .button {
  width: 250pt;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

a.button:hover {
  background-color: white;
  color: #1abc9c;
  border: none;
}

.row .button .icon {
  float: left;
  font-size: 150%;
}